/* Footer Styles */

.footer {
    position: fixed;
    bottom: 10px;
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Isenheim;
    letter-spacing: 0px;
    font-size: 0.6rem;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    gap: 2px;
}

.top-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sub-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-footer-text {
    font-size: 8px;
    color: gray;
    letter-spacing: 1px;
    margin: 0;
}

.top-footer-text {
    font-size: 11px;
    color: #FFFDD0;
    letter-spacing: 1px;
    margin: 0;
}

.copyright {
    color: #FFFDD0;
    margin: 0;
}

/* Responsive footer for mobile */
@media (max-width: 480px) {
    .footer {
        font-size: 0.6rem;
    }
}
